colorBase = 165
colorBaseDarkest = colorBase * .333
colorBaseDarker = colorBase * .667
colorBaseLighter = colorBase * 1.1667
colorBaseLightest = colorBase * 1.333


colorNeutralDarkest = rgb(colorBaseDarkest, colorBaseDarkest, colorBaseDarkest)
colorNeutralDarker = rgb(colorBaseDarker, colorBaseDarker, colorBaseDarker)
colorNeutral = rgb(colorBase, colorBase, colorBase)
colorNeutralLighter = rgb(colorBaseLighter,colorBaseLighter, colorBaseLighter)
colorNeutralLightest = rgb(colorBaseLightest,colorBaseLightest, colorBaseLightest)

colorWarm = rgb(colorBaseLighter, colorBaseDarker,colorBaseDarker)
colorWarmDarker = rgb(colorBaseLighter, colorBaseDarkest, colorBaseDarkest)

colorCool = rgb(colorBaseDarker, colorBase, colorBaseLightest)
colorCoolLighter = rgb(colorBaseDarker, colorBase, colorBaseLighter)

linkColorDefault = colorCool
linkColorHover = colorCoolLighter

textColor = colorNeutralDarkest

iconFolder = '/assets/img/'



