---
title: Children's Medical Center of Dallas Work History 
description: Frank M. Taylor was a Lead Business Analyst at Children's Medical Center of Dallas
keywords: Healthcare, Hospital, HTML5, SDL Tridion, Portal
subnavigation: work
---
<section class="workHistory">
    <header class="workHistory__header">
        <h1 class="workHistory__company">Children's Medical Center</h1>
        <h2 class="workHistory__duration">July, 2010 &mdash; August, 2011</h2>
    </header>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title"> Lead Business Analyst</h1>
            <h2 class="position__duration">July, 2010 &mdash; August, 2011</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Organized and delegated technical requirements to development teams using Visio, Fireworks and iRise</li>
            <li class="list__item">Produced wireframes for anonymous and authenticated user experiences</li>
            <li class="list__item">Developed HTML5 content component templates in Content Management System</li>
            <li class="list__item">
                Oversaw the quality of all HTML and CSS in order to guarantee future HTML5 compliance
            </li>
            <li class="list__item">
                Interviewed, trained, and mentored new members of the team
            </li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">
                Transferred brand of the public site into the Children’s Patient and Family Social Network
            </li>
            <li class="list__item">
                Lead Design discussions for authenticated user experience for employees and physicians
            </li>
            <li class="list__item">Redesigned and developed Find-a-Doctor Application, including admin interface </li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">Launched the first valid HTML5 Children's hospital website in the nation</li>
            <li class="list__item">Lead a team of content producers that transferred approximately 10,000 pages of content in under three months</li>
        </ul>
    </article>
</section>