---
title: EXLRT Work history 
description: Frank M. Taylor was a Principal Solutions Consultant
keywords: Front-end, HTML, CSS, JavaScript, React, Node.js, SDL Tridion, SDL Web
subnavigation: work
---
<section class="section section--workHistory">
    <header class="workHistory__header">
        <h1 class="workHistory__company">EXLRT</h1>
        <h2 class="workHistory__duration">February, 2019 &mdash; January 2022</h2>
    </header>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Principal Solutions Consultant</h1>
            <h2 class="position__duration">February, 2019&mdash; January 2022</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Worked with SDL to provide insight into user interaction development</li>
            <li class="list__item">Supported front-end Serbian team</li>
            <li class="list__item">Wrote coding guidelines </li>
            <li class="list__item">Analyzed node.js applications for performance and effectiveness</li>
            <li class="list__item">Developed UI applications to support headless content authoring</li>
            <li class="list__item">Created strategies for improving codebases</li>
            <li class="list__item">Participated in sales meetings and produced sales demos</li>
            <li class="list__item">Reviewed and authored web content to support marketing initiatives</li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">Identified critical performance issues in a production application</li>
            <li class="list__item">Established relationships with US Software vendors</li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">
                SDL MVP: 2019
            </li>
        </ul>
    </article>
</section>