---
title: EXLRT Work history 
description: Frank M. Taylor was a Principal Solutions Consultant
keywords: Front-end, HTML, CSS, JavaScript, React, Node.js, SDL Tridion, SDL Web
subnavigation: work
---
<section class="section section--workHistory">
    <header class="workHistory__header">
        <h1 class="workHistory__company">EXLRT</h1>
        <h2 class="workHistory__duration">February, 2019 &mdash; January 2022</h2>
    </header>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Principal Solutions Consultant</h1>
            <h2 class="position__duration">February, 2019&mdash; January 2022</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Worked with SDL to provide insight into user interaction development</li>
            <li class="list__item">Supported front-end Serbian team</li>
            <li class="list__item">Wrote coding guidelines </li>
            <li class="list__item">Analyzed node.js applications for performance and effectiveness</li>
            <li class="list__item">Developed UI applications to support headless content authoring</li>
            <li class="list__item">Created strategies for improving codebases</li>
            <li class="list__item">Participated in sales meetings and produced sales demos</li>
            <li class="list__item">Reviewed and authored web content to support marketing initiatives</li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">Identified critical performance issues in a production application</li>
            <li class="list__item">Established relationships with US Software vendors</li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">
                SDL MVP: 2019
            </li>
        </ul>
        <aside class="lists lists--row">
            <div class="lists__listContainer listContainer">
                <h3 class="list__title">Development Stack: </h3>
                <ul class="list list--typeNone">
                    <li class="list__item">Node 12- 14</li>
                    <li class="list__item">Vue</li>
                    <li class="list__item">React</li>
                    <li class="list__item">Handlebars</li>
                    <li class="list__item">Scss</li>
                    <li class="list__item">Webpack</li>
                    <li class="list__item">Azure</li>
                    <li class="list__item">Github</li>
                    <li class="list__item">Bitbucket</li>
                </ul>
            </div>
            <div class="lists__listContainer listContainer">
                <h3 class="list__title">Implementations:</h3>
                <ul class="list list--typeNone">
                    <li class="list__item">Tridion</li>
                    <li class="list__item">Kentico</li>
                    <li class="list__item">Azure Functions</li>
                    <li class="list__item">Azure Logic Apps</li>
                    <li class="list__item">Node microservices</li>
                    <li class="list__item">Custom content management apps</li>
                </ul>
            </div>
            <div class="lists__listContainer listContainer">
                <h3 class="list__title">Productivity Stack:</h3>
                <ul class="list list--typeNone">
                    <li class="list__item">Jira</li>
                    <li class="list__item">Confluence</li>
                    <li class="list__item">Teams</li>
                    <li class="list__item">Slack</li>
                    <li class="list__item">Skype</li>
                    <li class="list__item">The Microsoft Office Suite</li>
                </ul>
            </div>
        </aside>
    </article>
</section>