---
title: Work History 
description: An overview of Frank M. Taylor's work history for the last 12 years
subnavigation: work
---
	<section class="section section--workHistory">
		<h1>Work History</h1>
		<table class="table table--history" summary="summary of work history">
			<thead class="table__head">
			<tr class="table__row">
			  <th id="company" class="table__cell table__cell--heading">Company</th>
			  <th id="timeRange" class="table__cell table__cell--heading">Time Range</th>
			</tr>
			</thead>
			<tbody class="table__body">
				<tr class="table__row">
					<td headers="company" class="company table__cell table_cell--company">
						<a href="{{content.navigations.work.Exlrt}}" >EXLRT</a>
					</td>
					<td class="table__cell">February 2019-Present </td>
				</tr>
				<tr class="table__row">
					<td headers="company" class="company table__cell table_cell--company">
						<a href="{{content.navigations.work.Tahzoo}}" >Tahzoo</a>
					</td>
					<td class="table__cell">August 2011 — February 2019 </td>
				</tr>
				<tr class="table__row">
					<td headers="company" class="company table__cell table_cell--company">
						<a href="{{content.navigations.work.Childrens}}" >Children's Medical Center</a>
					</td>
					<td headers="timeRange" class="table__cell">July 2010 — August 2011</td>
				</tr>
				<tr class="table__row">
					<td headers="company" class="table__cell">
						<a href="{{content.navigations.work.Mannatech}}" >Mannatech</a>
						</td>
					<td headers="timeRange" class="table__cell"> July 2005 — July 2010 </td>
				</tr>
				<tr class="table__row">
					<td headers="company" class="table__cell">  Dicker Staffing</td>
					<td headers="timeRange" class="table__cell"> April 2005 — July 2005 (as a temp for Mannatech)</td>
				</tr>
				<tr class="table__row">
					<td headers="company" class="table__cell">
					Water's Edge Pool and Porter</td>
					<td headers="timeRange" class="table__cell"> August 2004 — April 2005 </td>
				</tr>
				<tr class="table__row">
					<td headers="company" class="table__cell">PHL, International</td>
					<td headers="timeRange" class="table__cell"> June 2004 — August 2004</td>
				</tr>
				<tr class="table__row">
					<td headers="company" class="table__cell">
						<a href="http://siuc.edu/" target="_blank">Southern Illinois University—</a>Family Housing
					</td>
					<td headers="timeRange" class="table__cell"> June 2002 — June 2004 </td>
				</tr>
				<tr class="table__row">
					<td headers="company" class="table__cell">
						<a href="http://siuc.edu/" target="_blank">Southern Illinois University</a>—Student Housing
					</td>
					<td headers="timeRange" class="table__cell"> August 2000 — June 2002 </td>
				</tr>
			</tbody>
		</table>
</section>
