---
title: Mannatech Work History 
description: Frank M. Taylor was a bilingual call center representative, trainer, and content producer at Mannatech
keywords: MLM, Multi-level marketing, Teamsite, content producer, training, bilingual, Spanish, French
subnavigation: work
---

<section class="workHistory">
    
    <header class="workHistory__header">
        <h1 class="workHistory__company">Mannatech</h1>
        <h2 class="workHistory__duration">April, 2005&ndash;July, 2010</h2>
    </header>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Site Producer</h1>
            <h2 class="position__duration">August, 2008&ndash;July, 2010</h2>
        </header>
        <ul class="position__responsibilities list list--typeCircle">
            <li class="list__item">Proofread and edited all copy delivered to websites to ensure quality of brand, legal compliance, and search engine effectiveness with Microsoft Word and Worksite</li>
            <li class="list__item">Directed web content production for country or product launches </li>
            <li class="list__item">Recommended and delivered changes to code, mixed media, and copy to improve customer experience </li>
            <li class="list__item">Acted as the CMS administrator and SME assigning roles, permissions, and conducting training</li>
            <li class="list__item">Responsible for content production and user acceptance of two website redesigns</li>

        </ul>
        <ul class="position__accomplishments list">
            <li class="list__item">Responsible for content production and user acceptance of two website redesigns</li>
            <li class="list__item">Functioned as lead content manager in redesign overseeing liaisons in international offices and 3 temp employees</li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">

            </li>
        </ul>
    </article>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Call Center Training Specialist</h1>
            <h2 class="position__duration">May, 2008&ndash;August, 2008</h2>
        </header>
        <ul class="position__responsibilities list list--typeCircle">
            <li class="list__item">Wrote training materials in print and mixed media using Word, PowerPoint, and Visio</li>
            <li class="list__item">Trained representatives in English and Spanish</li>
            <li class="list__item">Developed personality profile analytics to screen call center staff and customize training materials & processes using Excel and Access</li>
        </ul>
        <ul class="position__accomplishments list">
            <li class="list__item">Trained a department of 70 representatives on 12 different subjects over a three-month period</li>
            <li class="list__item">Wrote a training manual for customer’s legal policies</li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item"></li>
        </ul>
    </article>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Product Inquiries Coordinator</h1>
            <h2 class="position__duration">March, 2007&ndash;May, 2008</h2>
        </header>
        <ul class="position__responsibilities list list--typeCircle">
            <li class="list__item">Wrote Product FAQs and provided edits for existing web copy in ecommerce areas of the </li>
            <li class="list__item">Wrote and edited standard operating procedures for Call Center</li>
        </ul>
        <ul class="position__accomplishments list">
            <li class="list__item">Presented new website to Australian customers and acted as the face of IT for web defects</li>
            <li class="list__item">Designed, Developed, and maintained an internal website for managing all product information</li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item"></li>
        </ul>
    </article>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Customer Service Floor Lead</h1>
            <h2 class="position__duration">May, 2006&ndash;March, 2007</h2>
        </header>
        <ul class="position__responsibilities list list--typeCircle">
            <li class="list__item">Conducted weekly quality reviews with representatives</li>
            <li class="list__item">De-escalated calls</li>
        </ul>
        <ul class="position__accomplishments list">
            <li class="list__item">Lead initiative to collaboratively re-write the criteria for evaluating calls</li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item"></li>
        </ul>
    </article>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Customer Service Support Team</h1>
            <h2 class="position__duration">January, 2006&ndash;May, 2007</h2>
        </header>
        <ul class="position__responsibilities list list--typeCircle">
            <li class="list__item">De-escalated calls</li>
            <li class="list__item">Corresponded with customers via email and fax</li>
        </ul>
        <ul class="position__accomplishments list">

        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">

            </li>
        </ul>
    </article>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Bilingual Customer Service Representative</h1>
            <h2 class="position__duration">July, 2005&ndash;January, 2006</h2>
        </header>
        <ul class="position__responsibilities list list--typeCircle">
            <li class="list__item">Accepted phone calls in English, French, and Spanish</li>
            <li class="list__item">Resolved customer concerns with refunds, missing orders, and payments </li>
        </ul>
        <ul class="position__accomplishments list">

        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">
                <li>Never had a call escalate to a manager or supervisor</li>
            </li>
        </ul>
    </article>
</section>