---
title: Red Hat Work history
description: Frank M. Taylor was a Principal Solutions Consultant
keywords: Front-end, HTML, CSS, JavaScript, Wec Components, Drupal
subnavigation: work
---
<section class="section section--workHistory">
    <header class="workHistory__header">
        <h1 class="workHistory__company">Red Hat</h1>
        <h2 class="workHistory__duration">January 2022 &mdash; Present</h2>
    </header>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Senior Front-end Drupal Developer</h1>
            <h2 class="position__duration">January 2022 &mdash; Present</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Write front-end code to support Drupal installations</li>
            <li class="list__item">Consult on best practices for front-end architectures</li>
            <li class="list__item">Test applications</li>
            <li class="list__item">Analyzed node.js applications for performance and effectiveness</li>
            <li class="list__item">Developed UI applications to support headless content authoring</li>
            <li class="list__item">Created strategies for improving codebases</li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">Upgraded team from Node 10 to Node 16</li>
            <li class="list__item">Identified and resolved multiple blocking issues caused by Dart Sass running on M1 Macbooks</li>
        </ul>
    </article>
</section>