---
title: Red Hat Work history
description: Frank M. Taylor was a Principal Solutions Consultant
keywords: Front-end, HTML, CSS, JavaScript, Wec Components, Drupal
subnavigation: work
---
<section class="section section--workHistory">
    <header class="workHistory__header">
        <h1 class="workHistory__company">Red Hat</h1>
        <h2 class="workHistory__duration">January 2022 &mdash; Present</h2>
    </header>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Senior Front-end Drupal Developer</h1>
            <h2 class="position__duration">January 2022 &mdash; Present</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Write front-end code to support Drupal installations</li>
            <li class="list__item">Consult on best practices for front-end architectures</li>
            <li class="list__item">Test applications</li>
            <li class="list__item">Analyze node.js applications for performance and effectiveness</li>
            <li class="list__item">Develop UI applications to support headless content authoring</li>
            <li class="list__item">Created strategies for improving codebases</li>
            <li class="list__item">Support design system as implemented by Drupal</li>
            <li class="list__item">Implement new features request by content authors</li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">Founded the Front-end Developers Guild</li>
            <li class="list__item">Led the initiative to create front-end standards</li>
            <li class="list__item">Identified and resolved multiple blocking issues caused by Dart Sass running on M1 Macbooks</li>
            <li class="list__item">Led two front-end standardization initiatives between multiple codebases that resulted in uniform linting, testing, and architectural practices while eliminating a collective 6,000 lint errors </li>
        </ul>
        <aside class="lists lists--row">
            <div class="lists__listContainer listContainer">
                <h3 class="list__title">Development Stack: </h3>
                <ul class="list list--typeNone">
                    <li class="list__item">Docksal</li>
                    <li class="list__item">Drupal 8 - 10</li>
                    <li class="list__item">Node 10 - 18</li>
                    <li class="list__item">Sass</li>
                    <li class="list__item">PHP 8</li>
                    <li class="list__item">Twig</li>
                </ul>
            </div>
            <div class="lists__listContainer listContainer">
                <h3 class="list__title">Productivity Stack:</h3>
                <ul class="list list--typeNone">
                    <li class="list__item">Jira</li>
                    <li class="list__item">Confluence</li>
                    <li class="list__item">Slack</li>
                    <li class="list__item">The Google Suite</li>
                </ul>
            </div>
        </aside>
    </article>
</section>