---
title: Tahzoo Work history 
description: Frank M. Taylor was a technical consultant and is a senior front-end developer at Tahzoo
keywords: Front-end developer, HTML, CSS, JavaScript, MVC, React, Node.js, Express, MongoDB, SDL Tridion, SDL Web
subnavigation: work
---
<section class="section section--workHistory">
    <header class="workHistory__header">
        <h1 class="workHistory__company">Tahzoo</h1>
        <h2 class="workHistory__duration">August, 2011 &mdash; Present</h2>
    </header>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Senior Front-end Developer</h1>
            <h2 class="position__duration">September, 2015 &mdash; Present</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Create frameworks and methodologies for managing front-end code in SDL Tridion</li>
            <li class="list__item">Author HTML, CSS, and JavaScript for clients</li>
            <li class="list__item">Convert PSDs and PDFs into HTML templates for use in MVC applications</li>
            <li class="list__item">Use HTML5 APIs to create interactive applications for websites</li>
            <li class="list__item">Train new front-end developers and testers on SDL Tridion</li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">Built employee and office management application in React, Express, MongoDB, and Node.js</li>
            <li class="list__item">Wrote CSS Guidelines for front-end team</li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">
                SDL MVP: 2015, 2016, 2017
            </li>
            <li class="class__list">
                SDL Hackathon: First Place
            </li>
        </ul>
    </article>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Technical Consultant</h1>
            <h2 class="position__duration">September, 2015 &mdash; Present</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Developed page and component templates using Dreamweaver markup, Razor Mediator, C#, or VBScript</li>
            <li class="list__item">Configured new installations of SDL Tridion</li>
            <li class="list__item">Organized test plans, wrote and executed test scripts</li>
            <li class="list__item">Developed GUI Extensions using Tridion's .NET-based core services</li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">Provided localization of breastcancer.org content from English to Spanish</li>
            <li class="list__item">Delivered interactive demos for new clients</li>
            <li class="list__item">Developed, managed, and provided first-tier support for one of Nationwide Insurance's web properties </li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">
                SDL Web MVP 2014
            </li>
        </ul>
    </article>
</section>