---
title: Tahzoo Work history 
description: Frank M. Taylor was a technical consultant, senior front-end developer, and software architect at Tahzoo
keywords: Front-end developer, HTML, CSS, JavaScript, MVC, React, Node.js, Express, MongoDB, SDL Tridion, SDL Web
subnavigation: work
---
<section class="section section--workHistory">
    <header class="workHistory__header">
        <h1 class="workHistory__company">Tahzoo</h1>
        <h2 class="workHistory__duration">August, 2011 &mdash; February 2019</h2>
    </header>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Principal Software Architect</h1>
            <h2 class="position__duration">February, 2018 &mdash; February 2019</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Supported all aspects of SDL Tridion implementations</li>
            <li class="list__item">Debugged issues with Tridion software and work with SDL Support staff</li>
            <li class="list__item">Provided technical oversite between back-end and front-end developers</li>
            <li class="list__item">Produced technology strategies for new clients</li>
            <li class="list__item">Created infrastructure architecture</li>
            <li class="list__item">Trained clients on SDL Tridion software</li>
            <li class="list__item">Participated in sales meetings and produced sales demos</li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">Delivered an implementation using .net, .net core, node.js, and Vue</li>
            <li class="list__item">Presented at Tridion Developer Summit in 2018 on JavaScript architectures</li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">
                SDL Tridion Sites MVP: 2018
            </li>
        </ul>
    </article>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Senior Front-end Developer</h1>
            <h2 class="position__duration">September, 2015 &mdash; February, 2018</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Create frameworks and methodologies for managing front-end code in SDL Tridion</li>
            <li class="list__item">Author HTML, CSS, and JavaScript for clients</li>
            <li class="list__item">Convert PSDs and PDFs into HTML templates for use in MVC applications</li>
            <li class="list__item">Set Up front-end architecture for new clients</li>
            <li class="list__item">Use HTML5 APIs to create interactive applications for websites</li>
            <li class="list__item">Train new front-end developers and testers on SDL Tridion</li>
            <li class="list__item">Develop canvas-based utilities for editing and manipulating images and video</li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">Built employee and office management application in React, Express, MongoDB, and Node.js</li>
            <li class="list__item">Wrote CSS Guidelines for front-end team</li>
            <li class="list__item">Presented at Tridion Developer Summit in 2015 and 2016 on front-end practices</li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">
                SDL Tridion Sites MVP: 2015, 2016, 2017
            </li>
            <li class="list__item">
                <a href="https://community.sdl.com/developers/developers_archive/sdl_innovate_2015_spring_hackathon/b/weblog/posts/and-the-winner-is"> Hackathon: First Place</a>
            </li>
            <li class="list__item">
                SDL Bookmarklet challenge: <a href="https://tridion.meta.stackexchange.com/questions/324/the-tridion-bookmarklet-challenge">2nd place</a>
            </li>
        </ul>
    </article>
    <article class="workHistory__position position">
        <header class="position__header">
            <h1 class="position__title">Technical Consultant</h1>
            <h2 class="position__duration">September, 2011 &mdash; September, 2015</h2>
        </header>
        <ul class="position__responsibilities list">
            <li class="list__item">Developed page and component templates using Dreamweaver markup, Razor Mediator, C#, or VBScript</li>
            <li class="list__item">Configured new installations of SDL Tridion</li>
            <li class="list__item">Organized test plans, wrote and executed test scripts</li>
            <li class="list__item">Developed GUI Extensions using Tridion's .NET-based core services</li>
        </ul>
        <ul class="position__accomplishments list list--typeCircle">
            <li class="list__item">Provided localization of breastcancer.org content from English to Spanish</li>
            <li class="list__item">Delivered interactive demos for new clients</li>
            <li class="list__item">Developed, managed, and provided first-tier support for one of Nationwide Insurance's web properties </li>
        </ul>
        <ul class="position__brag list list--typeNone">
            <li class="list__item">
                SDL Web MVP 2014
            </li>
        </ul>
    </article>
</section>