<footer class="g-footer" role="contentinfo">
    <p>    <small class="g-footer__legal">Copyright © 2019. All Rights Reserved</small> </p>
    <p>    <a class="g-footer__link" href="/colophon.html">Colophon</a> </p>
</footer>