<footer class="g-footer" role="contentinfo">
    <p class="g-footer__legal"> <small>Copyright © <time class="js-copyright-time">2020</time>. All Rights Reserved</small>
    </p>
    <p class="g-footer__links"><a class="g-footer__link" href="/colophon.html">Colophon</a> </p>
</footer>
{{> poison}}