<header class="g-header">
    <div class="g-header__hgroup" role="banner">
        <h1 class="g-header__title"><a class="g-header__titleLink"href="/">{{content.global.site-title}}</a></h1>
        <h2 class="g-header__subtitles animation animation--setSlidesUp">
            <span class="g-header__subtitleList animation__set" data-count="{{@content.global.site.site-subtitles.length}}">
                {{#each content.global.site-subtitles}}
                    <span class="g-header__subtitle animation__item animation__item--{{@index}}">{{this}}</span>
                {{/each}}
            </span>
        </h2>
    </div>
    {{> nav}}
</header>