<header class="g-header">
    <div class="g-header__hgroup" role="banner">
        <h1 class="g-header__title"><a class="g-header__titleLink"href="/">{{content.global.site-title}}</a></h1>
        <h2 class="g-header__subtitle">{{content.global.site-subtitle}}</h2>
    </div>
    {{> nav}}
</header>