<ul class="list list--links ">

        {{#each this}}
            <li class="list__item">
                <a class="list__itemLink icon" href="{{this}}">{{@key}}</a> 
            </li>
        {{/each}}
</ul>