---
title: Back End Technologies 
description: Back end web technologies that Frank M. Taylor is familiar with
keywords: Node.js, express.js, MongoDB, Apache, Python
subnavigation: technologies
---
<section class="section section--technologies">
	<header class="s-header">
		<h1 class="s-header__title">
			Back-end Development
		</h1>
		<div class="s-header__content">
			<p>
				My more recent roles as an architect and principal consultant have involved me having a strong familiarity in a wide range of back-end technologies. 
			</p>
		</div>
	</header>
	<article class="article">
		<header class="article__header">
			<h2 class="article__title">Development</h2>
			<p>Below are some of the technologies I've used in developing the backend of websites and web applications.</p>
		</header>
		<div class="lists lists--row">
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Languages</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement">JavaScript</li>
					<li class="list__item" itemprop="itemListElement">Python</li>
					<li class="list__item" itemprop="itemListElement">C#</li>
					<li class="list__item" itemprop="itemListElement">PHP</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Libraries &amp; Frameworks</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement">.NET Core 9</li>
					<li class="list__item" itemprop="itemListElement">.NET Core 1&ndash;.NET Core 3</li>
					<li class="list__item" itemprop="itemListElement">.NET 4+</li>
					<li class="list__item" itemprop="itemListElement">DD4T + DXA</li>
					<li class="list__item" itemprop="itemListElement">Blazor</li>
					<li class="list__item" itemprop="itemListElement">RepoDB</li>
					<li class="list__item" itemprop="itemListElement">GraphQL</li>
					<li class="list__item" itemprop="itemListElement">Express.js</li>
					<li class="list__item" itemprop="itemListElement">Koa.js</li>
					<li class="list__item" itemprop="itemListElement">mongo.js</li>
				</ul>
			</div>
		</div>
	</article>
	<article class="article">
		<header class="article__header">
			<h2 class="article__title">Stacks</h2>
			<p>I've worked in and designed a variety of architectures that worked with my clients' needs.</p>
		</header>
			<div class="lists lists--row">
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Servers &amp; Platforms</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement">IIS</li>
					<li class="list__item" itemprop="itemListElement">Node.js</li>
					<li class="list__item" itemprop="itemListElement">Apache</li>
					<li class="list__item" itemprop="itemListElement">Microservices (Azure)</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Databases</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement">MSSQL</li>
					<li class="list__item" itemprop="itemListElement">MongoDB</li>
					<li class="list__item" itemprop="itemListElement">ArangoDB</li>
					<li class="list__item" itemprop="itemListElement">PostgreSQL</li>
					<li class="list__item" itemprop="itemListElement">MySQL</li>
				</ul>
			</div>
		</div>
	</article>
</section>