---
title: Back End Technologies 
description: Back end web technologies that Frank M. Taylor is familiar with
keywords: Node.js, express.js, MongoDB, Apache, Python
subnavigation: technologies
---
<section class="section section--technologies">
	<header class="s-header">
		<h1 class="s-header__title">
			Back-end Development
		</h1>
		<div class="s-header__content">
			<p>
			I wouldn't advertise myself as a back-end developer. It's not my area of expertise. While at Tahzoo, I have written enough server-side code that I think it merits at least a mention.
			</p>
		</div>
	</header>
	<article class="article">
		<header class="article__header">
			<h2 class="article__title">Back-end</h2>
			<p>I got started in back-end development in 2011 when I started work at Tahzoo. I had to know how the content management system worked and how it was supposed to render content. Most of what I learned comes from the application of these languages and technologies in the context of content management. </p>
			<p>
				If you're a recruiter, please <strong>Pay attention</strong>. These <em>are</em> skills that I have. But these are not my core strengths. Neither you, nor I, will be happy if I interview for a position where these are core competencies.
			</p>
		</header>
		<div class="lists lists--row">
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">Back-end</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Node.js</li>
					<li class="list__item">C#</li>
					<li class="list__item">Python</li>
					<li class="list__item">PHP</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">Libraries &amp; Frameworks</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Express.js</li>
					<li class="list__item">mongo.js</li>
					<li class="list__item">XLRD, XLWT</li>
					<li class="list__item">DD4T, DXA</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">Servers &amp; Databases</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Node.js</li>
					<li class="list__item">Apache</li>
					<li class="list__item">IIS</li>
					<li class="list__item">MongoDB</li>
					<li class="list__item">MySQL</li>
				</ul>
			</div>
		</div>
	</article>
</section>