---
title: Content Management Technologies 
description: CMS' that Frank M. Taylor has worked with, or regretted working with (I'm looking at you, Teamsite)
keywords: SDL Tridion, SDL Web*, SDL Web 8, Wordpress
subnavigation: technologies
---
<section class="section section--skills">
	<header class="s-header">
		<h1 class="s-header__title">
		Content Management
		</h1>
		<div class="s-header__content">
			<p>
				I was using a CMS well-before I became a front-end developer. I'd describe myself as CMS-specialized front-end developer with experience in internationalization and localization.
			</p>
			<p>
				I first starting using a CMS as a content-producer at Mannatech. Mannatech transitioned from using a spreadsheet through Interwoven Teamsite and then into Wordpress.
			</p>
		</div>
	</header>
	<article class="article">
		<header class="article__header">
			<h2 class="article__title">Content Management</h2>
			<div class="article__headerContent">
				<p>While I have experience with many different content management systems, the bulk of that experience is in SDL Tridion. </p>
				<p>
					When I was a business analyst at Children's Medical Center of Dallas, I received training for SDL Tridion 2009. My experience with Tridion there combinded with my knowledge of front-end development and started my career in writing front-end for large websites.
				</p>
			</div>
		</header>

		<div class="lists lists--row">
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">RWS (formerly SDL) Content Management</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Tridion R5</li>
					<li class="list__item">Tridion 2009</li>
					<li class="list__item">Tridion 2013</li>
					<li class="list__item">Web 8</li>
					<li class="list__item">Tridion</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">RWS (formerly SDL) Products and Utilities</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Media Manager</li>
					<li class="list__item">DXA</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">Open-Source CMS</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Drupal 8&ndash;11</li>
					<li class="list__item">Wordpress</li>
					<li class="list__item">Craft CMS</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3>Closed-Source CMS</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Kentico Kontent</li>
					<li class="list__item">TeamSite</li>
					<li class="list__item">Adobe Experience Manager</li>
				</ul>
			</div>
		</div>
	</article>
</section>