---
title: Data Analysis
description: Data Analysis technologies that Frank M. Taylor is familiar with
keywords: Python, PIP, NLTK, Pandas, Jupyter Notebook
subnavigation: technologies
---
<section class="section section--technologies">
    <header class="s-header">
        <h1 class="s-header__title">
            Data Analysis
        </h1>
        <div class="s-header__content">
            <p>
                As a graduate student in linguistics I have had to work with a variety of technologies that are important for understanding language. 
            </p>
        </div>
    </header>
    <article class="article">
        <header class="article__header">
            <h2 class="article__title">Development</h2>
        </header>
        <div class="lists lists--row">
            <div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
                <h3 class="list__title" itemprop="name">Programming Languages</h3>
                <ul class="list list--typeNone">
                    <li class="list__item" itemprop="itemListElement">Python 2.7&ndash;3.14</li>
                    <li class="list__item" itemprop="itemListElement">JavaScript</li>

                </ul>
            </div>
            <div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
                <h3 class="list__title" itemprop="name">Python Libraries & Frameworks</h3>
                <ul class="list list--typeNone">
                    <li class="list__item" itemprop="itemListElement">BeautifulSoup</li>
                    <li class="list__item" itemprop="itemListElement">NLTK</li>
                    <li class="list__item" itemprop="itemListElement">Pandas</li>
                    <li class="list__item" itemprop="itemListElement">NumPy</li>
                    <li class="list__item" itemprop="itemListElement">Jupyter Notebook</li>
                </ul>
            </div>
        </div>
    </article>
    <article class="article">
        <header class="article__header">
            <h2 class="article__title">Libraries I've created</h2>
        </header>
        <div class="lists lists--row">
            <div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
                <h3 class="list__title" itemprop="name">Python</h3>
                <ul class="list list--typeNone">
                    <li class="list__item" itemprop="itemListElement"><a href="https://github.com/paceaux/xlsx-to-json">XLSX-to-json</a> (Converts data formats) </li>
                    <li class="list__item" itemprop="itemListElement"><a href="https://github.com/paceaux/mechon-mamre-scraper">Mechon Mamre scraper</a>(Scrapes and creates data)</li>
                    <li class="list__item" itemprop="itemListElement"><a href="https://github.com/paceaux/social-pronouns">Social Pronouns</a>(Analyzes text)</li>
                </ul>
            </div>
            <div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
                <h3 class="list__title" itemprop="name">JavaScript</h3>
                <ul class="list list--typeNone">
                    <li class="list__item" itemprop="itemListElement"><a href="https://github.com/paceaux/isidore">Isidore</a> (POS Tagger)</li>
                    <li class="list__item" itemprop="itemListElement"><a href="https://github.com/paceaux/methodius">Methodius</a> (Character n-grams)</li>
                    <li class="list__item" itemprop="itemListElement"><a href="https://github.com/paceaux/methodius-cli">Methodius CLI</a> (Command Line Interface for Methodius)</li>
                    <li class="list__item" itemprop="itemListElement"><a href="https://experiments.frankmtaylor.com/methodius">Methodius Demo</a> (Live Demo of character n-grams for various languages)</li>
                    <li class="list__item" itemprop="itemListElement"><a href="https://github.com/paceaux/bsky-language-feed-generator">Bluesky Scraper</a> (Scrapes Bluesky for pronouns)</li>

                </ul>
            </div>
        </div>
    </article>
</section>