---
title: Devops
description: Devops technologies that Frank M. Taylor is familiar with
keywords: Azure, Gitlab, Github, Jenkins, Powershell
subnavigation: technologies
---
<section class="section section--technologies">
	<header class="s-header">
		<h1 class="s-header__title">
			Devops
		</h1>
		<div class="s-header__content">
			<p>"DevOps" is a tough word to describe, but I think of it as the technologies used to go from code to finished application. 
			</p>
		</div>
	</header>
	<article class="article">
		<header class="article__header">
			<h2 class="article__title">Continuous Integration</h2>
			<p>Below are some of the technologies I've used in developing the backend of websites and web applications.</p>
		</header>
		<div class="lists lists--row">
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Version Control &amp; VC Hosting</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement">Git: Github, Gitlab, Bitbucket</li>
					<li class="list__item" itemprop="itemListElement">Microsoft Team Foundation Server</li>
					<li class="list__item" itemprop="itemListElement">SVN</li>
				</ul>
			</div>
		</div>
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Continuous Integration</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement">Gitlab CI/CD</li>
					<li class="list__item" itemprop="itemListElement">Bamboo</li>
					<li class="list__item" itemprop="itemListElement">Jenkins</li>
					<li class="list__item" itemprop="itemListElement">Azure DevOps</li>
				</ul>
			</div>
		</div>
	</article>
	<article class="article">
		<header class="article__header">
			<h2 class="article__title">Cloud Management</h2>
			<p>I've worked in and around cloud-managed solutions for some time. My work is more than <em>just building cloud-hosted apps</em>. I have launched and deployed into cloud hosted environments and also written deployment solutions for cloud-hosted applications</p>
		</header>
			<div class="lists lists--row">
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Azure</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement">Function Apps</li>
					<li class="list__item" itemprop="itemListElement">LogicApps</li>
					<li class="list__item" itemprop="itemListElement">Application Insights</li>
					<li class="list__item" itemprop="itemListElement">Application Services</li>
				</ul>
			</div>
	</article>
</section>