---
title: Front End Technologies
description: Front End Technologies that Frank M. Taylor has worked with. 
keywords: HTML5, SVG, Canvas, Stylus, Gulp, Babel, React, jQuery
subnavigation: technologies
---

<section class="section section--technologies">
	<header class="s-header">
		<h1 class="s-header__title">
			Front-End Development
		</h1>
	</header>
	<article class="article">
		<header class="article__header">
			<h2 class="article__title">Front-end Development</h2>
			<p>I got my start in front-end development somewhere between the release of the first iPhone and Google Chrome. While I am aware of many of the issues surrounding IE6, I've never had to support it. I got my start squarely in the "modern browser" era </p>
		</header>

		<div class="lists lists--row">
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">The Browser</h3>
				<ul class="list list--typeNone">
					<li class="list__item">HTML4.1&rarr;HTML5</li>
					<li class="list__item">CSS2.1&rarr;CSS3</li>
					<li class="list__item">ES5&rarr;ES7</li>
					<li class="list__item">SVG</li>
					<li class="list__item">Canvas</li>
					<li class="list__item">Speech Recognition</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">Preprocessors</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Stylus</li>
					<li class="list__item">SASS / SCSS</li>
					<li class="list__item">Jade / Pug</li>
					<li class="list__item">Handlebars</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">Tools &amp; Testing</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Gulp</li>
					<li class="list__item">Grunt</li>
					<li class="list__item">ESLint</li>
					<li class="list__item">Babel</li>
					<li class="list__item">Mocha</li>
					<li class="list__item">Selenium</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">Libraries &amp; Frameworks</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Vue</li>
					<li class="list__item">React</li>
					<li class="list__item">Angular</li>
					<li class="list__item">jQuery</li>
					<li class="list__item">jQueryUI</li>
					<li class="list__item">Raphael.js</li>
				</ul>
			</div>
		</div>
	</article>
</section>