---
title: Front End Technologies
description: Front End Technologies that Frank M. Taylor has worked with. 
keywords: HTML5, SVG, Canvas, Stylus, Gulp, Babel, React, jQuery
subnavigation: technologies
---

<section class="section section--technologies" role="region" aria-labelledby="tech-section-title">
	<header class="s-header">
		<h1 class="s-header__title" id="tech-section-title">
			Front-End Development
		</h1>
	</header>
	<article class="article" role="article">
		<header class="article__header">
			<h2 class="article__title">Front-end Development</h2>
			<p>I have been building applications for over 15 years using the following core front-end languages.</p>
			<ul>
				<li>CSS2.1&ndash;CSS5.01</li>
				<li>HTML4.1&ndash;HTML5.1</li>
				<li>ES4&ndash;ES2024</li>
				<li>SVG 1.1</li>
				<li>JSON</li>
			</ul>

			<p>Below is a semi-comprehensive list of all of the technologies I've used in order to produce web applications for my clients:</p>

		</header>

		<div class="lists lists--row">
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Building & Bundling</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Rollup</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Gulp</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Parcel</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Grunt</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">WebPack</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title" itemprop="name">Styling</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ComputerLanguage">SASS / SCSS</li>
					<li class="list__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/SoftwareApplication">PostCSS</li>
					<li class="list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ComputerLanguage">Stylus</li>
					<li class="list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ComputerLanguage">Less</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title" itemprop="name">Templating</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ComputerLanguage">Jade / Pug</li>
					<li class="list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ComputerLanguage">Handlebars</li>
					<li class="list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ComputerLanguage">Razor</li>
					<li class="list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ComputerLanguage">JSX</li>
					<li class="list__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ComputerLanguage">Twig</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Frameworks &amp; Interactions </h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Vue</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Lit</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">React</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Angular</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">jQuery</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">jQueryUI</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Testing & Linting</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">ESLint</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Stylelint</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Jest</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Mocha</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Chai</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Jasmine</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Puppeteer</li>
					<li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Selenium</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Browser APIs</h3>
				<ul class="list list--typeNone">
					<li class="list__item" itemprop="itemListElement">CSSOM</li>
					<li class="list__item" itemprop="itemListElement">Web Components</li>
					<li class="list__item" itemprop="itemListElement">Canvas</li>
					<li class="list__item" itemprop="itemListElement">Speech Recognition</li>
					<li class="list__item" itemprop="itemListElement">Geolocation</li>
				</ul>
			</div>
		</div>
	</article>
</section>