---
title: Technologies
description: Frank M. Taylor's Experience and technical skills. Nunchuck skills not listed, but still included. 
subnavigation: technologies
---
<section class="section section--technologies" role="region" aria-labelledby="technology-section">
    <header class="s-header">
        <h1 class="s-header__title" id="technology-section">Technologies</h1>
        <article class="article">
            <h2 class="article__title">
                The Full Stack
            </h2>
            <p>Though the bulk of my experience is in front-end development, I have developed across the entire stack. I have
                written client-side code, server-side code, set up databases, created CI/CD pipelines and deployed applications.</p>
			<div class="listContainer" itemscope itemtype="http://schema.org/ItemList">
				<h3 class="list__title" itemprop="name">Full Stack Highlights</h3>
                <div class="lists lists--row">
                    <div class="lists__listContainer listContainer">
                        <ul class="list list--typeNone">
                            <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">HTML, CSS,
                                JavaScript</li>
                            <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Vue, React, Angular
                            </li>
                            <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">WebPack, Gulp, Grunt
                            </li>
                            <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Stylus, SASS, SCSS
                            </li>
                        </ul>
                        </div>
                        <div class="lists__listContainer listContainer">
                            <ul class="list list--typeNone">
                                <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Express.js,
                                    Koa.js, ASP.net</li>
                                <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Node.js, .NET
                                    core</li>
                            <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">Web applications,
                                Rest APIs, Microservices</li>
                            </ul>
                            </div>
                            <div class="lists__listContainer listContainer">
                                <ul class="list list--typeNone">
                                    <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">IIS, Apache
                                    </li>
                            <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">MongoDB, ArangoDB,
                                PostgreSQL</li>
                            <li class="list__item" itemprop="itemListElement" itemtype="http://schema.org/SoftwareApplication">AWS, Azure, Heroku
                            </li>
                        </ul>
                        </div>
                </div>
                </div>
            
        </article>

</section>