@require '../imports'
@require "10-generic.css"

@keyframes fadein {
  0% {
    color: rgba(0,0,0,0.01);
  }

  100% {
    color: rgba(colorBaseDarkest, colorBaseDarkest, colorBaseDarkest, 1);
  }
}

:root {
  --gridRail: 2%;
  --globalColumns: 3;
  --sectionFlow: column;
}

/*====================
    LAYOUT
====================*/

body {
  display: grid;
  grid-template-columns: var(--gridRail) repeat(4, 1fr) var(--gridRail);
  grid-template-rows: auto 1fr 10%;
  grid-template-areas: "railP header header header header railS" "railP main main main main railS"  "railP footer footer footer footer railS";
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  
  body {
    --gridRail: 10%;
    --sectionFlow: row;
  }

}

.g-header {
  grid-area: header;
}

.g-footer {
  grid-area: footer;
}

.g-main {
  grid-area: main;  
}


.g-main {
    display: flex;

}
