/*====================
    OBJECTS
====================*/

 /*==========
     #TABLE
 ==========*/
/*=== table ===
    __head
    __body
    __row
        --header
    __cell
        --heading
        --company
    __caption
    
    --history
    --education
*/

.table {
    width: 100%
}

.table__row--header th{
    border-bottom: 2px solid colorNeutralDarkest
}

 /*==========
     #LISTS
 ==========*/

/*=== lists ===
    __listContainer
    
    --col
    --row
*/

.lists {
    display: flex;
}

.lists--col {
    flex-direction: column;
}

.lists--row {
    justify-content: space-between;
    flex-wrap: wrap;
}

.lists__listContainer {
    font-size: .8em;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 24%
    background: rgba(colorBaseDarkest,colorBaseDarker,colorBaseLightest,.1);
    margin: .618em;
}

/*=== .list ===
    __item
    __itemLink
    __title
    
    --typeCircle
    --typeNone
    --links
*/
.list--typeCircle {
    list-style-type: circle;
}

.list--typeNone {
    list-style-type: none;
}

.list--links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;

    .list__itemLink {
        color: inherit;

        &:hover, &:focus {
            color: colorNeutralDarker;
            border-bottom: 1px solid transparent;
        }
    }
}



/*===============
    #NAV
===============*/
/*=== nav ===
    __list
    __listItem
    __itemLink
    __element
    
    --sub
*/

.nav {

}

.nav__list{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav--sub .nav__list {
    font-size: .8em;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0;
    margin-top: .618rem;
    border-top: 1px solid;
}

@media screen and (min-width: 768px) {
    .nav--sub {
        display: flex;
        justify-content: flex-end;
    }

    .nav--sub .nav__list {
        max-width: 50%;
    }    
}

/*===============
    #icon
===============*/

.icon {
    &::before {
        content: ' ';
        display: inline-block;
        vertical-align: -.75em;
        line-height: 1;
        width: 2em;
        height: 2em;
        margin-right: .618em;
        background-repeat: no-repeat;
    }
}

article .icon::before {
    display: none
}

/*===============
    #article
===============*/

.article {
}

.article--collapsible {

    .article__title {
        display: inline-block;
    }

    .article__content {
        padding-left: 1.618rem;
    }
}