@layer objects {
  /* ====================
    OBJECTS
==================== */

  /* ==========
     #TABLE
 ========== */
  /* === table ===
    __head
    __body
    __row
        --header
    __cell
        --heading
        --company
    __caption

    --history
    --education
*/

  .table {
    width: 100%;
  }

  .table__row--header th {
    border-bottom: 2px solid var(--colorNeutralDarkest);
  }

  /* ==========
     #LISTS
 ========== */

  /* === lists ===
    __listContainer

    --col
    --row
*/

  .lists {
    display: flex;
  }

  .lists--col {
    flex-direction: column;
  }

  .lists--row {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .lists__listContainer {
    font-size: 0.8em;
    flex-basis: 24%;
    flex-grow: 1;
    flex-shrink: 0;
    border: 1px solid var(--colorCoolerLight);
    border-radius: 4px;
    margin: 0.618em;
  }

  .list__title {
    color: var(--colorCoolerDark);
    margin-top: var(--baseSpacingVertical);
  }
  /* === .list ===
    __item
    __itemLink
    __title

    --typeCircle
    --typeNone
    --links
*/
  .list--typeCircle {
    list-style-type: circle;
  }

  .list--typeNone {
    list-style-type: none;
  }

  .list--links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin-left: 0;
  }

  .list--links .list__item {
    text-indent: 0;
  }

  .list--links .list__itemLink {
    color: inherit;
    border-bottom:none;
  }

  .list--links .list__itemLink:is(:hover, :focus) {
    color: var(--colorNeutralDarker);
  }

  .list--links .list__itemLink:focus {
    outline: 1px dotted;
  }


  /* ===============
    #NAV
=============== */
  /* === nav ===
    __list
    __listItem
    __itemLink
    __element

    --sub
*/

  .nav__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }

  .nav--sub .nav__list {
    font-size: 0.8em;
    padding-right: 0;
    border-top: 1px solid;
    margin-top: 0.618rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    .nav--sub {
      display: flex;
      justify-content: flex-end;
    }

    .nav--sub .nav__list {
      max-width: 50%;
    }
  }

.nav__listItem {
  margin-left: var(--baseSpacingHorizontal)
}

  /* ===============
    #icon
=============== */

  .icon::before {
    content: ' ';
    display: inline-block;
    vertical-align: -0.75em;
    line-height: 1;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    margin-right: 0.618em;
  }

  article .icon::before {
    display: none;
  }

  /* ===============
    #article
=============== */

  .article--collapsible .article__title {
    display: inline-block;
  }

  .article--collapsible .article__content {
    padding-left: 1.618rem;
  }
}
/* ===============
    #animation
=============== */

@keyframes fadeInOut {
  0% {
    color: rgba(0, 0, 0, 0.01);
  }

  50% {
    color: rgba(55, 55, 55, 1);
  }

  100% {
    color: rgba(0, 0, 0, 0.01);
  }
}

@keyframes setSlideUp {

  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(0em - (var(--bigTitleSize)  * var(--animatedSetCount))));
  }
}

@layer objects {
  .animation--setSlidesUp {
    --animatedSetItemHeight: calc(var(--biggestTitleSize) * 1.2);
    --animatedSetCount: 5;
    --animatedSetDelay: 4s;

    overflow: hidden;
    height: var(--animatedSetItemHeight);
  }

  .animation__set {
    animation-name: setSlideUp;
    animation-duration: calc(var(--animatedSetDelay) * var(--animatedSetCount));
    animation-timing-function: steps(var(--animatedSetCount), jump-start);
    animation-delay: var(--animatedSetDelay);
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: backwards;
  }

  .animation__item {
    height: var(--animatedSetItemHeight);
    animation-name: fadeInOut;
    animation-duration: var(--animatedSetDelay);
    animation-timing-function: ease-out;
    animation-iteration-count: var(--animatedSetCount);
  }
}
