/*====================
    COMPONENTS
====================*/


 /*==========
     #WORKHISTORY
 ==========*/

/*=== workHistory ===
    __header
    __company
    __duration
    __position
    
    --modifier
    --modifier
*/

.workHistory {

}

.workHistory__header {
    border-bottom: .25em solid colorNeutralDarkest;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.workHistory__company,
.workHistory__duration {
    margin-bottom: 0;
}

/*===============
    #POSITION
===============*/

/*=== position ===
    __header
    __title
    __duration
    __responsibilities
    __accomplishments
    __brag
    
    --modifier
    --modifier
*/

 .position {
     padding: .5rem 0 0 .618rem;
     border-radius: 5px;
     margin: .5rem 0 0 1rem;
     background-color: rgba(colorBaseLightest,colorBaseLightest,colorBaseLightest,.2);
 }

 .position__header {
    font-size: .618em;
    border-bottom: .25em solid colorNeutralDarkest;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
 }


 .position__responsibilities {
    font-size: .8em;
 }

 .position__brag {
    font-weight: 700;
    padding-left: 0;
    margin-left: 0;
 }

 .position
    for num in (2..8)
        &:nth-of-type({num}) {
            font-size: 1em - ((num - 1)/10);
        }


/*===============
    #PORTFOLIO
===============*/

/*=== portfolio ===
    __section
    __sectionHeader
    __sectionLink
    __sectionTitle
    __sectionDescription
    __footer
    __codeLinks
    
    --modifier
    --modifier
*/

.portfolio {
    display: flex;
    flex-direction: var(--sectionFlow);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .s-header {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .portfolio__section {
        flex-basis: 45%;
    }
}

.portfolio__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.portfolio__sectionHeader {
    width: 100%;
}

.portfolio__sectionLink {
    color: inherit;
    border-bottom: none;

    &:hover, &:focus {
        border-bottom: none;
    }
}

.portfolio__sectionTitle {
    border-bottom: 4px solid colorNeutralDarkest;
}

.portfolio__sectionDescription {
    font-style: italic;
}

.portfolio__footer {
    width: 100%;
}

.portfolio__codeLinks {
    position: fixed;
    z-index: 100;
    left: 0;
    width: 12em;
    bottom: 4.5rem;

    .list--links {
        color: transparent;
        flex-direction: column;
        padding: 0;
    }

    .list__item {
        margin: .25em 0;
    }

    .list__itemLink {
        padding: .5em .618rem .5em 0;

        &:hover, &:focus {
            background-color: colorNeutralLighter;
        }
    }
}

/*=== portfolioItem ===
    __header
    __title
    __description
    __repoLink
    __demo
    
    --modifier
    --modifier
*/
.portfolioItem {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
    font-size: .7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(colorBaseDarker, colorBase, colorBaseLighter, .1);
    padding: .618em 0 0 0;
    margin: 1.618em 1.618rem;
}

.portfolioItem__repoLink {
    margin: .618rem;
    iconify('github.svg');

    &:hover {
        border-bottom: none;
    }
}

.portfolioItem__demo {
    width: 100%;
    min-height: 600px;
    background: #fff;
    border: none;
    box-shadow: 0px 0px 1px 1px rgba(colorBaseDarkest,colorBaseDarkest,colorBaseDarkest,.4);
}

for logo in codepen github gulp jsfiddle linkedin quora sass stack twitter blog
    .icon[href*={logo}] {
        iconify(logo)
    }