@layer components {
  /* ====================
    COMPONENTS
==================== */


  /* ==========
     #WORKHISTORY
 ========== */

  /* === workHistory ===
    __header
    __company
    __duration
    __position

    --modifier
    --modifier
*/

  .workHistory__header {
    border-bottom: 0.25em solid var(--colorNeutralDarkest);
  }

  @media screen and (min-width: 768px) {
    .workHistory__header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  .workHistory__company,
  .workHistory__duration {
    margin-bottom: 0;
  }

  /* ===============
    #POSITION
=============== */

  /* === position ===
    __header
    __title
    __duration
    __responsibilities
    __accomplishments
    __brag

    --modifier
    --modifier
*/

  .position {
    --textSize: inherit;

    font-size: var(--textSize);
    padding: 0.5rem 0 0 0.618rem;
    border-radius: 5px;
    background-color: rgba(220, 220, 220, 0.2);
    margin: 0.5rem 0 0 1rem;
  }

  .position__header {
    font-size: 0.618em;
    border-bottom: 0.25em solid var(--colorNeutralDarkest);
  }

  @media screen and (min-width: 768px) {
    .position__header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  .position__accomplishments  .list__item {
    list-style-type: '\2794 \2003';
    padding-left: var(--baseSpacingHorizontal);
  }

  .position__responsibilities {
    font-size: 0.8em;
  }

  .position__brag {
    font-weight: 700;
    padding-left: 0;
    margin-left: 0;
  }

  .position__brag .list__item {
    list-style-type: '\1F389 \2003';
    padding-left: var(--baseSpacingHorizontal);
  }

  .position__brag a {
    border-bottom-color: var(--baseLinkColor);
  }

  .position__brag a:focus {
    border-bottom-style: solid;
  }

  .position:nth-of-type(2) {
    --textSize: 0.9em;
  }
  .position:nth-of-type(3) {
    --textSize: 0.8em;
  }
  .position:nth-of-type(4) {
    --textSize: 0.7em;
  }
  .position:nth-of-type(5) {
    --textSize: 0.6em;
  }
  .position:nth-of-type(6) {
    --textSize: 0.5em;
  }


  /* ===============
    #PORTFOLIO
=============== */

  /* === portfolio ===
    __section
    __sectionHeader
    __sectionLink
    __sectionTitle
    __sectionDescription
    __footer
    __codeLinks

    --modifier
    --modifier
*/

  .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .portfolio .s-header {
    width: 100%;
  }

  .portfolio__section {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    .portfolio__section {
      flex-basis: 45%;
    }
  }

  .portfolio__sectionHeader {
    width: 100%;
  }

  .portfolio__sectionLink {
    color: inherit;
    width: 100%;
    border-bottom: none;
  }

  .portfolio__sectionLink:is(:hover, :focus) {
    border-bottom: none;
  }
  
  .portfolio__sectionTitle {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: var(--colorNeutralDarkest);
    transition: all .3s ease-in-out;
  }

  .portfolio__sectionTitle:is(.portfolio__sectionLink > *) {
    border-bottom-style:  var(--idleTextLineStyle);
  }

  .portfolio__sectionLink:is(:hover, :focus) .portfolio__sectionTitle {
    border-bottom-style: var(--interestTextLineStyle);
  }

  .portfolio__sectionDescription {
    font-style: italic;
  }

  .portfolio__footer {
    width: 100%;
  }

  .portfolio__codeLinks {
    position: fixed;
    bottom: 4.5rem;
    left: 0;
    z-index: 100;
    width: 12em;
  }

  .portfolio__codeLinks .list--links {
    color: transparent;
    padding: 0;
    flex-direction: column;
  }

  .portfolio__codeLinks .list__item {
    margin: 0.25em 0;
  }

  .portfolio__codeLinks .list__itemLink {
    padding: 0.5em 0.618rem 0.5em 0;
  }

  .portfolio__codeLinks .list__itemLink:is(:hover, :focus) {
    background-color: var(--colorNeutralLighter);
  }

  /* === portfolioItem ===
    __header
    __title
    __description
    __repoLink
    __demo

    --modifier
    --modifier
*/
  .portfolioItem {
    display: flex;
    font-size: 0.7em;
    padding: 0.618em 0 0 0;
    border-radius: 2px;
    background: rgba(110, 165, 193, 0.08);
    margin: 1.618em 1.618rem;
    flex-direction: column;
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-between;
  }

  .portfolioItem__description a {
    border-bottom-color: var(--baseLinkColor);
  }

  .portfolioItem__description a:focus {
    border-bottom-style: solid;
  }

  .portfolioItem__repoLink {
    align-self: flex-start;
    font-weight: bold;
    margin: 0.618rem;
  }

  .portfolioItem__repoLink:is(:hover, :focus) {
    border-bottom-style: solid;
  }

  .portfolioItem__repoLink::after {
    content: '\21F0';
    position: absolute;
    display: inline-block;
    color: transparent;
    font-weight: normal;
    margin-left: 0;
    transition: color .15s ease-in-out, margin-left .25s ease-in-out;
  }
  
  .portfolioItem__repoLink:is(:hover, :focus)::after {
    color: inherit;
    margin-left: var(--baseSpacingHorizontal);
  }

  .portfolioItem__description li {
    line-height: var(--smallLineHeight);
  }

  .portfolioItem__demo {
    width: 98%;
    min-height: 600px;
    border: none;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 0 1px 1px rgba(55, 55, 55, 0.4);
  }

  .icon[href*='codepen']::before {
    background-image: url('/assets/img/codepen.svg');
  }

  .icon[href*='github']::before {
    background-image: url('/assets/img/github.svg');
  }

  .icon[href*='gulp']::before {
    background-image: url('/assets/img/gulp.svg');
  }

  .icon[href*='jsfiddle']::before {
    background-image: url('/assets/img/jsfiddle.svg');
  }

  .icon[href*='linkedin']::before {
    background-image: url('/assets/img/linkedin.svg');
  }

  .icon[href*='quora']::before {
    background-image: url('/assets/img/quora.svg');
  }

  .icon[href*='sass']::before {
    background-image: url('/assets/img/sass.svg');
  }

  .icon[href*='stack']::before {
    background-image: url('/assets/img/stack.svg');
  }

  .icon[href*='twitter']::before {
    background-image: url('/assets/img/twitter.svg');
  }

  .icon[href*='blog']::before {
    background-image: url('/assets/img/blog.svg');
  }

  .poison {
    visibility: hidden;
    overflow: hidden;
    text-indent: -9999vw;
    width: 0;
    height: 0;
  }
}
