@layer trumps {
  /* ====================
    TRUMPS
==================== */

  .collapsed {
    overflow: hidden;
    padding: 0;
    height: 0;
    transition: all 0.3s ease-in;
  }

  .is-active {
    border-bottom: 1px solid !important;
  }
}

@keyframes unlock {
  0% {
    background-color: rgba(193, 110, 110, 0.1);
  }

  50% {
    background-color: rgba(193, 55, 55, 0.7);
  }

  100% {
    background-color: rgba(193, 110, 110, 0.1);
  }
}

@layer trumps {
  .is-unlocked {
    animation-name: unlock;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-direction: linear;
  }
}
