@layer trumps {
/*====================
    TRUMPS
====================*/

.collapsed {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in;
}

.is-active{
    border-bottom: 1px solid !important;
}
}

@keyframes unlock {
    0% {
        background-color: rgba(193, 110,110, .1)
    }

    50% {
        background-color: rgba(193, 55, 55, .7)
    }

    100% {
        background-color: rgba(193, 110,110, .1)
    }
}

@layer trumps {
.is-unlocked {
    animation-name: unlock;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-direction: linear;
}
}