---
title: 401 | Unauthorized Access
description: Frank M. Taylor's website where you can learn more about him and offer him money to make you the internet things
keywords: Front-end Developer, bilingual, Spanish, French, HTML, CSS, JavaScript
---
<section class="intro">
    <article class="intro__article article">
        <h1>Whoops</h1>
        <p>A 401? That's weird.</p>
        <blockquote>
            The request has not been applied because it lacks valid authentication credentials for the target resource.
            <cite><a href="https://httpstatuses.com/401" target="_blank">httpstatuses</a></cite>
        </blockquote>
        <p>Have you tried saying "please"?</p>
    </article>
    <aside class="aside">
        {{>linkList (lookup content.links 'social')}}
    </aside>
</section>