---
title: 404 | Page not found
description: Frank M. Taylor's website where you can learn more about him and offer him money to make you the internet things
keywords: Front-end Developer, bilingual, Spanish, French, HTML, CSS, JavaScript
---
<section class="intro">
    <article class="intro__article article">
        <h1>Whoops</h1>
        <p> Looks like I don't have that page. </p>
        <p> ¯\_(ツ)_/¯</p>
        <p>Have you tried turning it off and on again?</p>
    </article>
    <aside class="aside">
        {{>linkList (lookup content.links 'social')}}
    </aside>
</section>