---
title: Colophon 
description: How frankmtaylor.com was built, and what technologies played a role
keywords: Gulp.js, Visual Studio Code, Sublime Text, Assemble.io
---
<section class="">
    <header class="s-header">
        <h1 class="s-header__title">Colophon</h1>
        <p>I purchased frankmtaylor.com about eight years ago when I began a job search. This site was always my playground, first. Building and rebuilding this site helped me learn what front-end development was all about. The added bonus was that I could also make it my resume..</p>

    </header>
  <article>
        <h2>Code </h2>
        <p>With the exception of the normalize, I wrote all of the code you see here, by hand, using <a href="https://code.visualstudio.com/" target="_new">Visual Studio Code</a>. Previous versions were built with Sublime Text or notepad.</p>
        <p>This site was built using <a href="http://gulpjs.com/" target="_blank"> Gulp</a>, <a href="http://assemble.io/" target="_blank">Assemble.io</a> (which includes some Handlebars), and spare time.</p>    
        <h2>Icons</h2>
        <p>Most icons come from <a href="https://simpleicons.org/">Simple Icons</a>. The JSFiddle logo comes from <a href="https://www.svgrepo.com">SVG Repo</a>.
        <h2>Font</h2>
        <p>The font is <a href="https://en.wikipedia.org/wiki/Helvetica">Helvetica</a>. It is being served by your computer. 
    </article>
</section>