---
title: Education 
description: Where Frank M. Taylor went to school and most definitely never stayed up until 3 in the morning playing Goldeneye
keywords: Education, Southern Illinois University, French, Spanish, University of Phoenix, Programming
---
<section class="">
		<h1>Education</h1>
		<table class="table table--education" summary="summary of education">
			<tbody class="table__body">
				<tr class="table__row table__row--header">
					<th id="school1" class=" table__cell" colspan="2" scope="rowgroup">
						<a href="http://siu.edu" target="_blank">Southern Illinois University &mdash; Carbondale</a>
					</td>
				</tr>
				<tr class="table__row">
					<td id="school1Ed" headers="school1" class="table__cell">Bachelor of Arts &mdash; French</td>
					<td headers="school1Ed school1 school1Ed2" rowspan="2" class="table__cell">August 1999 &ndash; May 2004</td>
				</tr>
				<tr class="table__row">
					<td headers="school1" id="school1Ed2">Bachelor of Arts &mdash; Spanish</td>
				</tr>
				<tr class="table__row table__row--header">
					<th id="school2" class=" table__cell" colspan="2" scope="rowgroup">
						<a href="http://www.phoenix.edu" target="_blank">University of Phoenix</a>
					</th>
				</tr>
				<tr class="table__row">
					<td id="school2Ed" headers="school2" class="table__cell">Programming Certificate</td>
					<td headers="school2Ed school2" rowspan="1" class="table__cell">June 2015</td>
				</tr>
				<tr class="table__row table__row--header">
					<th id="school3" class=" table__cell" colspan="2" scope="rowgroup">
						<a href="https://linguistics.arizona.edu/" target="_blank">University of Arizona</a>
					</th>
				</tr>
				<tr class="table__row">
					<td id="school3Ed" headers="school3" class="table__cell"><a href="https://linguistics.arizona.edu/ms-hlt" >Master's of Science: Linguistics</a></td>
					<td headers="school3Ed school3" rowspan="1" class="table__cell">August 2024 – Present </td>
				</tr>
			</tbody>
		</table>
</section>
