---
title: Foreign Languages 
description: Languages that Frank M. Taylor is (il)literate in. Doesn't include that week in high school he tried to learn Thai to impress a foreign exchange student by accidentally saying her grandmother was a worm. 
keywords: Spanish, French, Portuguese, Hebrew, Arabic, Catalan, Mandarin, Farsi, Persian, Turkish, Dutch, German
---
<section class="section section--languages">
	<header class="s-header">
		<h1 class="s-header__title">
		Foreign Languages
		</h1>
		<div class="s-header__content">
			<p>
				My first foreign language was Russian, which I started learning when I was twelve. I took French and Spanish all the way through highschool and I studied Italian and German outside of the classroom.
			</p>
			<p>
				I attended college and earned degrees in French and Spanish. Because my school had an international population, I took the opportunity to study Chinese, Portuguese, Japanese, and Arabic. Later in college, I began teaching myself ancient Hebrew and was able to read most of the Old Testament by the time I graduated.
			</p>
			<p>
				If you're really intersted in knowing the full story of the different languages I've studied and why, I wrote a blog post that will probably answer most of your questions
			</p>
		</div>
	</header>
	<article class="article">
		<h2 class="article__title">Core Proficiences</h2>
			<ul>
				<li>Spanish: Fluent (ILR Level 4-5)</li>
				<li>French: Conversant (ILR Level 3)</li>
				<li>Portuguese: Conversational (ILR Level 2-3)</li>
				<li>Hebrew: Elementary, speak, read (ILR Level 2)</li>
			</ul>
		<div class="lists lists--row">
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">Elementary Proficiences <br />(ILR Level 1)</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Arabic</li>
					<li class="list__item">Catalan</li>
					<li class="list__item">Russian</li>
					<li class="list__item">Mandarin Chinese</li>
				</ul>
			</div>
			<div class="lists__listContainer listContainer">
				<h3 class="list__title">No Proficiency  <br />(ILR Level 0)</h3>
				<ul class="list list--typeNone">
					<li class="list__item">Farsi</li>
					<li class="list__item">Turkish</li>
					<li class="list__item">Dutch</li>
					<li class="list__item">German</li>
				</ul>
			</div>
		</div>
	</article>
</section>