---
title: Resume and CV
description: Frank M. Taylor's website where you can learn more about him and offer him money to make you the internet things
keywords: Front-end Developer, bilingual, Spanish, French, HTML, CSS, JavaScript
ishomepage: true
---
<section class="intro">
    <article class="intro__article article">
        <h1>Howdy</h1>
        <p>My name is Frank. This is my site. Don't think of this as another online resume. Think of this as a better way to get to know me. 
        </p>
        <p>I'm a Front-end developer. In the past I've been a business analyst, a content producer, a trainer, even some schlub taking phone calls in a call center in three languages (English, French, Spanish). </p>
        <h2>My Mission</h2>
        <p>I want to make cool stuff that people want to use</p>
        <p>If you, too, like making cool stuff (like apps, education tools) &mdash; or you know someone who does &mdash; maybe we should talk.  </p>
    </article>
    <aside class="aside">
        {{>linkList (lookup content.links 'social')}}
    </aside>
</section>