---
title: Resume and CV
description: Frank M. Taylor's website where you can learn more about him and offer him money to make you the internet things
keywords: Front-end Developer, bilingual, Spanish, French, HTML, CSS, JavaScript
ishomepage: true
---
<section class="intro">
    <article class="intro__article article">
        <h1>Howdy</h1>
        <p>My name is Frank. This is my site. This is a great way to get to know me.
        </p>
        <p>I'm a lot of things. In the past I've been a business analyst, a content producer, a trainer, even some schlub taking phone calls in a call center in three languages (English, French, Spanish). </p>
        <p>Today I'm a Senior front-end Drupal Engineer. Not too long ago I was a Principal Consultant. Tomorrow I could be a CMS Architect. A few years from now I might be a linguist. Who knows?</p>
        <h2>My mission is to make cool stuff that people want to use</h2>
        <p>I'm especially interested in languages, education, and helping marginalized / underserved communities. If you or someone you know likes doing that stuff then we should talk.</p>
        <p><a href="https://paceaux.com">My handle for the internet is paceaux</a>, you should look for me there. 
        </p>
    </article>
    <aside class="aside">
        {{>linkList (lookup content.links 'social')}}
    </aside>
</section>