---
title: CSS frameworks, experiments, and tricks 
description: Frank M. Taylor's experiments with CSS3
keywords: CSS3, Typography, Stylus, CSS Animations
---
<section class="portfolio__section ">
        <header class="portfolio__sectionHeader">
            <h2 class="portfolio__sectionTitle">NPM</h2>
            <div class="portfolio__sectionDescription">
                <p>Packages I've published to the Node Package Manager</p>
            </div>
        </header>
        <article class="portfolioItem">
            <header class="portfolioItem__header">
                <h3 class="portfolioItem__title">Typography Baseline</h3>
                <div class="portfolioItem__description">
                    <h4>Keywords:</h4>
                    <ul>
                        <li>CSS</li>
                        <li>Typography</li>
                    </ul>
                </div>
            </header>
                <div class="portfolioItem__description">
                    <h4>In a nutshell:</h4>
                    <p>A good start to your CSS typography that covers all the semantic nooks and crannies. (It's also used on this site)</p>
                    <h4>Installation</h4>
                    <p><code>npm install --save typography-baseline.css</code></p>
                    <h4>Learning More:</h4>
                    <p>I wrote <a href="https://blog.frankmtaylor.com/2019/04/16/introducing-the-typography-baseline/">a blog post</a> that explains the typography baseline in greater detail. This also spent quite a bit of time on <a href="https://codepen.io/paceaux/pen/grKWWe">CodePen</a>.</p>
                </div>
                <a class="portfolioItem__repoLink" href="https://www.npmjs.com/package/typography-baseline.css" target="_blank">NPM Page</a>
        </article>
        <article class="portfolioItem">
            <header class="portfolioItem__header">
                <h3 class="portfolioItem__title">Isidore</h3>
                <div class="portfolioItem__description">
                    <h4>Keywords:</h4>
                    <ul>
                        <li>grammar</li>
                        <li>NLP</li>
                        <li>computational</li>
                        <li>linguistics</li>
                    </ul>
                </div>
            </header>
            <div class="portfolioItem__description">
                <h4>In a nutshell</h4>
                <p>Takes a sentence and identifies the grammatical elements within. Built with extensibility in mind, it should be able to handle many western European languages with minimal code changes.</p>
                <h4>Installation</h4>
                <p><code>npm install --save isidore</code></p>
                <h4>Learning More:</h4>
                <p>I wrote <a href="https://blog.frankmtaylor.com/2018/12/19/introducing-isidore/"> a blog post </a>to explain my motivations for writing Isidore and the origin of the name.</p>
            </div>
            <a class="portfolioItem__repoLink" href="https://www.npmjs.com/package/isidore" target="_blank">NPM Page</a>
        </article>



        <aside class="portfolio__codeLinks">
            {{>linkList (lookup content.links 'code') }}
        </aside>
    </section>